Package: com.chuong.duodashunifiedfullscreen
Name: DuoDash Unified Fullscreen + DauDat54
Version: 1.1.0
Architecture: iphoneos-arm64
Description: Unified 427x240 correction with non-fullscreen DauDat #54 components
Maintainer: chuongnguyen89dn-ui
Author: chuongnguyen89dn-ui
Section: Tweaks
Depends: firmware (>= 15.0), preferenceloader
